<li>
    {{name}}
    {{#if eaten}}
    <button class="change-eaten btn btn-warning" data-id="{{id}}" data-neweaten="{{eaten}}">
        Devour!
    </button>

    {{else}}
    <button class="delete-eaten btn btn-danger" data-id="{{this.id}}">DELETE!</button>
    {{/if}}

</li>